[Unit]
Description=Radio HLS Generator
After=network.target localfarts.service
BindsTo=localfarts.service

[Service]
User=root
Type=simple
# ВАЖНО: Указываем путь к нашему правильному скрипту
ExecStart=/bin/bash /root/start_hls.sh
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
